.card {
    width: 230px;
    height: 310px;
    background-image: linear-gradient(144deg,#D9DDDC, gray 60%,#333333);
    border: none;
    border-radius: 10px;
    padding-top: 10px;
    position: relative;
    margin: auto;
    font-family: inherit;
}

.card span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1em;
}

.card .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 0.5em;
}

.card .img {
    width: 120px;
    height: 120px;
    content:url(photo_2025-01-09_00-29-20.jpg);
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
}

.card button {
    padding: 8px 25px;
    display: block;
    margin: auto;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    background: #e8e8e8;
    color: #111111;
    font-weight: 600;
}

.card button:hover {
    background: #212121;
    color: #ffffff;
}
